@tailwind components;
@tailwind utilities;

:root {
  --primary_color: #ff6903;
}

@layer components {
  .header-first-menu {
    @apply bg-white lg:border-b-2 md:w-[500px] lg:w-full mx-auto lg:sticky lg:top-0;
  }
  .header-container {
    @apply col-span-3 grid gap-x-4 md:gap-x-primary items-center bg-white pt-2 pb-1 px-2 
    lg:px-0 grid-cols-2 mx-auto lg:grid-cols-header md:w-[500px] lg:w-primary;
  }

  /* main menu */
  .header-container .main-menu {
    @apply pb-3 hidden lg:block;
  }
  .header-container .main-menu button {
    @apply px-3 text-xl font-semibold relative text-gray-500;
  }
  .header-container .main-menu .btn-highlight {
    @apply text-gray-900;
  }
  .header-container .main-menu .btn-highlight::after {
    @apply highlight;
  }

  /* user menu */
  .user-menus {
    @apply space-x-2 md:space-x-3 text-sm flex items-center ml-auto;
  }
  .user-menus button {
    @apply bg-gray-200 rounded-2xl p-1;
  }
  .notification-btn {
    @apply hidden lg:block relative;
  }
  .notification-btn .notification {
    @apply absolute -top-[10px] -right-4 text-sm bg-primary text-white font-semibold 
    h-5 w-9 rounded-full flex justify-center items-center;
  }
  .user-menus .add-post-btn {
    @apply hidden lg:block text-white bg-primary rounded-2xl px-3;
  }

  /* second menu */
  .header-second-menu {
    @apply grid grid-cols-primary gap-x-primary bg-white py-2 
    w-primary mx-auto;
  }
  .header-second-menu button {
    @apply text-gray-900 bg-gray-200 normal-case font-semibold font-sans mr-3 py-1;
  }

  /* third menu */
  .header-third-menu {
    @apply md:w-[500px] lg:w-primary  mx-auto lg:grid grid-cols-primary gap-primary sticky 
    top-0 lg:static;
  }
  .header-third-menu main {
    @apply flex lg:grid grid-cols-3 gap-3 bg-white py-2 px-3 rounded-b-xl;
  }
  .header-third-menu .search-btn {
    @apply hidden lg:flex items-center gap-2 h-8;
  }
  .search-input {
    @apply border-b-2 border-b-primary w-full focus:outline-none;
  }
}

@layer utilities {
  .highlight {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--primary_color);
    position: absolute;
    bottom: -12px;
    left: 0;
  }
}
